<div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-bordered align-middle text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        @for (order of orders(); track order.id) {
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.customerName }}</td>
            <td>{{ order.productName }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.total | currency:'USD':'symbol':'1.2-2' }}</td>
            <td>
              <span
                class="badge rounded-pill px-3 py-2"
                [ngClass]="getStatusClass(order.status)"
              >
                {{ order.status }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>